{% extends 'base.html.twig' %}

{% block title %}OAAF{% endblock %}

{% block body %}

  
<!--DESCRIPTION DU PROJET-->
<div class="container">
    <div class="col text-center pb-5">
      <h4>Nous avons décidé de faire un site pour référencer divers restaurants sur Paris. Plus que les restaurants que tout le monde connaît, vous pourrez trouver ici des lieux de restaurations de diverses nationalités. Que vous vouliez profiter d’un lieu avec des plats typiques de vos origines ou que vous soyez en quête de nouveautés, nous espérons que vous trouverez votre bonheur ici.
      Nous pensons également intégrer des indications pour que vous puissiez savoir si le restaurant dispose de menus vegan, végétarien ou sans gluten. Nous vous souhaitons une bonne visite.
      </h4>
      <!--<button class="entrez">ENTREZ</button><br><br><br>-->
    </div>
  <!--CATEGORIES DE RESTAURANTS-->
  <div class="container overflow-hidden">
    {% for categorie in categories %}
      <h1>{{ categorie.cat }}</h1>
      <img src="{{ categorie.photo }}" alt="photo de {{ categorie.cat }}">
      <h2>{{ categorie.description }}</h2>
      <a href="{{ path('restaurant_par_cat', {'cat': categorie.id}) }}">Voir la catégorie</a>
    {% endfor %}
    </div>

</div>
</div>


{% endblock %}
