{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Restaurant index{% endblock %}

{% block body %}
    <h1>Restaurant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Description</th>
                <th>Nationalite</th>
                <th>Specificite</th>
                <th>Prix_moyen</th>
                <th>Photo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for restaurant in restaurants %}
            <tr>
                <td>{{ restaurant.id }}</td>
                <td>{{ restaurant.nom }}</td>
                <td>{{ restaurant.adresse }}</td>
                <td>{{ restaurant.description }}</td>
                <td>{{ restaurant.nationalite }}</td>
                <td>{{ restaurant.specificite }}</td>
                <td>{{ restaurant.prixMoyen }}</td>
                <td>{{ restaurant.photo }}</td>
                <td>
                    <a href="{{ path('restaurant_show', {'id': restaurant.id}) }}">Afficher</a>
                    {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('admin_restaurant_edit', {'id': restaurant.id}) }}">Modifier</a>
                    <a href="{{ path('admin_restaurant_publier', {'id': restaurant.id}) }}">Publier</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Pas de restaurants</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
