{% extends 'base.html.twig' %}

{% block title %}Restaurant index{% endblock %}
{% block meta_desc %}liste de tout les restaurants proposés sur le site OAAF{% endblock %}
{% block stylesheets %}{% endblock %}


{% block body %}
<div class="row d-flex justify-content-center text-center">
    {% for restaurant in restaurants %}
            <div class="card m-1 border border-dark" style="width: 18rem;">
                <div class="card-body">
                <img src="/{{restaurant.photo}}" class="card-img-top h-50" alt="photo de {{ restaurant.nom }}">   
                        <h5 class="card-title pt-3">{{ restaurant.nom }}</h5>
                        <a href="{{ path('restaurant_show', {'id': restaurant.id}) }}"><button class="btn btn-secondary" type="submit">Voir le restaurant</button></a>
                        {% if is_granted("ROLE_ADMIN") %}
                        <br>
                        <a href="{{ path('admin_restaurant_edit', {'id': restaurant.id}) }}" style="text-decoration:underline;"> Modifier</a>
                        {% endif %}
                    </div>
            </div>
    {% else %}
    <p> Pas de restaurants sur le site </p>
    {% endfor %}
</div>
     
  <div class="row">
    <div class="col text-center pb-5 pt-5">
        <a href="{{path('home2')}}" style="text-decoration:underline;">
            Retour à l'accueil
        </a>
    </div>
    <div class="col text-center pb-5 pt-5">
        <a href="{{ path('restaurant_new') }}" style="text-decoration:underline;">
            Proposer un restaurant
        </a>
    </div>
</div>
 
{% endblock %}
