{% extends 'base.html.twig' %}



{% block title %}Restaurant index{% endblock %}
{% block stylesheets %}{% endblock %}


{% block body %}
    <div class="container"><div class="col text-center pb-5"><h1>Nom de categories</h1></div></div>

    {#<table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Description</th>
                <th>Nationalite</th>
                <th>Specificite</th>
                <th>Prix_moyen</th>
                <th>Photo</th>
                <th>actions</th>
            </tr>
        </thead>#}
        <tbody>
        {% for restaurant in restaurants %}
        <div class="container">
            <div class="row align-items-start">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="../images/categories2/Food-In-Lebanon.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ restaurant.nom }}</h5>
                                <p class="card-text">{{ restaurant.description }}</p>
                            </div>
                            <div class="card-body">
                                <a href="{{ path('restaurant_show', {'id': restaurant.id}) }}">show</a>
                                {% if is_granted("ROLE_ADMIN") %}
                                <a href="{{ path('admin_restaurant_edit', {'id': restaurant.id}) }}">Modifier</a>
                                {% endif %}
                            </div>
                    </div>
        
                </div>
            </div>
        </div>
        
{# 
            <tr>
                <td>{{ restaurant.id }}</td>
                <td>{{ restaurant.nom }}</td>
                <td>{{ restaurant.adresse }}</td>
                <td>{{ restaurant.description }}</td>
                <td>{{ restaurant.nationalite }}</td>
                <td>{{ restaurant.specificite }}</td>
                <td>{{ restaurant.prixMoyen }}</td>
                <td>{{ restaurant.photo }}</td>
                <td>
                    <a href="{{ path('restaurant_show', {'id': restaurant.id}) }}">Afficher</a>
                    {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('restaurant_edit', {'id': restaurant.id}) }}">Modifier</a>
                    {% endif %}
                </td>
            </tr>#}
        {% else %}
            <tr>
                <td colspan="9">Pas de restaurants</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  <div calss="row"><div class="col text-center pb-5 pt-5"><button class="envoyer" type="submit">
        <a href="{{ path('restaurant_new') }}">Create new</a>
    </button></div></div>
 
{% endblock %}
