{% extends 'base.html.twig' %}
{% block title %}Restaurant par catégories{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
<div class="row d-flex justify-content-center text-center">
{% for restaurant in restaurants %}
        <div class="card m-1" style="width: 18rem;">
            <img src="{{restaurant.photo}}" class="card-img-top" alt="photo de {{ restaurant.nom }}">
                <div class="card-body">
                    <h5 class="card-title">{{ restaurant.nom }}</h5>
                    <a href="{{ path('restaurant_show', {'id': restaurant.id}) }}">Voir le restaurant</a>
                    {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('admin_restaurant_edit', {'id': restaurant.id}) }}">Modifier</a>
                    {% endif %}
                </div>
        </div>


{% else %}
<p> Pas d'entrées trouvées </p>

{% endfor %}
</div>
<a href="{{path('home2')}}">Retour à l'accueil</a>
{% endblock %}