{% extends 'base.html.twig' %}
{% block meta_desc %}Informations sur les restaurants par catégories de cuisine {% endblock %}
{% block title %}Restaurant par catégories{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
<div class="container">
<div class="row d-flex justify-content-center text-center">
{% for restaurant in restaurants %}
        <div class="card m-1 border border-dark" style="width: 18rem;">
            <img src="/{{restaurant.photo}}" class="card-img-top h-50 pt-3" alt="photo de {{ restaurant.nom }}">
                <div class="card-body">
                    <h5 class="card-title pt-3">{{ restaurant.nom }}</h5>
                    <a href="{{ path('restaurant_show', {'id': restaurant.id}) }}">Voir le restaurant</a>
                    {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('admin_restaurant_edit', {'id': restaurant.id}) }}">Modifier</a>
                    {% endif %}
                </div>
        </div>


{% else %}
<p> Pas d'entrées trouvées </p>

{% endfor %}
</div>
<div class="row"><a class="col justify-content-left pt-3" href="{{path('home2')}}">Retour à l'accueil</a></div></div>
{% endblock %}