{% extends 'base.html.twig' %}

{% block title %}Restaurant{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
<div class="container">
    <div class="row"><h1>{{ restaurant.nom }}</h1>
    </div>
<aside>
    
</aside>
    <div class="row">
    <img src="/{{ restaurant.photo }}" alt="photo de {{ restaurant.nom }}" style="width:50%">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Nom</th>
                        <td>{{ restaurant.nom }}</td>
                    </tr>
                    <tr>
                        <th>Adresse</th>
                        <td>{{ restaurant.adresse }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ restaurant.description }}</td>
                    </tr>
                    <tr>
                        <th>Cuisine</th>
                        <td>{{ restaurant.nationalite }}</td>
                    </tr>
                    <tr>
                        <th>Spécificité</th>
                        <td>{{ restaurant.specificite }}</td>
                    </tr>
                    <tr>
                        <th>Prix_moyen</th>
                        <td>{{ restaurant.prixMoyen }}</td>
                    </tr>
                    </tbody>
                    </table>
    </div>

<div class="row">
    <div class="paddingBottom">
        
    <a href="{{ path('restaurant_par_cat', {'cat':categorie.id}) }}">
        <button class="btn btn-secondary">
        Retour à la catégorie
        </button>
    </a>
        

        {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('restaurant_edit', {'id': restaurant.id}) }}">
            <button class="btn btn-secondary">
            Modifier
            </button>
        </a>
    
        {{ include('restaurant/_delete_form.html.twig') }}
        {% endif %}
    </div>
</div>

{% endblock %}
