<!--MENU-->
<div class="dropdown ">
  <button class="btn dropdown-toggle " type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</button>
  <div class="dropdown-menu " aria-labelledby="dropdownMenu2">
    <button class="dropdown-item " type="button"><a href="{{path('home2')}}">Accueil</a>
    </button>
    <button class="dropdown-item " type="button">Contactez-nous</button>
    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
     <button class="dropdown-item " type="button"><a href="{{path('app_logout')}}">Déconnexion</a></button>
     {% if is_granted("ROLE_ADMIN") %}
     <button class="dropdown-item " type="button"><a href="{{path('admin')}}">Page admin</a></button>
     {% endif %}
    {% else %}
    <button class="dropdown-item " type="button"><a href="{{path('app_login')}}">Connexion</a></button>
    <button class="dropdown-item " type="button"><a href="{{path('app_inscription')}}">Inscription</a></button>
    {% endif %}
  </div>
</div>


  <!--TITRE & LOGO-->
  <div class="header overflow-hidden">
    <div class="row"><div class="col text-center pb-3"><a href="{{path('home2')}}"><img src="/images/icons/oaafLogo2.png" alt="Logo OAAF"></a></div></div>
    <div class="col text-center pb-5 text-uppercase font-italic"><h5>Où manger avec simplicité et convivialité</h5></div>
  </div>