<!--MENU-->
<div class="dropdown ">
  <button class="btn dropdown-toggle " type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</button>
  <div class="dropdown-menu " aria-labelledby="dropdownMenu2">
    <a href="{{path('home2')}}"><button class="dropdown-item " type="button">Accueil</button></a>
    {# <button class="dropdown-item " type="button">Contactez-nous</button> #}
    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
    <a href="{{ path('restaurant_new') }}"><button class="dropdown-item " type="button">Proposer un restaurant</button></a>
     <a href="{{path('app_logout')}}"><button class="dropdown-item " type="button">Déconnexion</button></a>
     {% if is_granted("ROLE_ADMIN") %}
     <a href="{{path('admin')}}"><button class="dropdown-item " type="button">Page admin</button></a>
     {% endif %}
    {% else %}
    <a href="{{path('app_login')}}"><button class="dropdown-item " type="button">Connexion</button></a>
    <a href="{{path('app_inscription')}}"><button class="dropdown-item " type="button">Inscription</button></a>
    {% endif %}
  </div>
</div>


  <!--TITRE & LOGO-->
  <div class="header overflow-hidden">
    <div class="row"><div class="col text-center pb-3"><a href="{{path('home2')}}"><img src="/images/icons/oaafLogo2.png" alt="Logo OAAF"></a></div></div>
    <div class="col text-center pb-5 text-uppercase font-italic"><h5>Où manger avec simplicité et convivialité</h5></div>
  </div>